<app-user-header></app-user-header>

<div class="content">
  <app-user-home></app-user-home>
  <router-outlet></router-outlet>
</div>

<app-user-footer></app-user-footer>
 <!-- Favicon -->
 <link rel="shortcut icon" type="image/x-icon" href="/assets/user-template/imgs/theme/favicon.svg" />
 <!-- Template CSS -->
 <link rel="stylesheet" href="/assets/user-template/css/plugins/animate.min.css" />
 <link rel="stylesheet" href="/assets/user-template/css/mainc619.css?v=1.0" />
  <!-- Vendor JS-->
  <script src="/assets/user-template/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/assets/user-template/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/assets/user-template/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="/assets/user-template/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="/assets/user-template/js/plugins/waypoints.js"></script>
  <script src="/assets/user-template/js/plugins/wow.js"></script>
  <script src="/assets/user-template/js/plugins/magnific-popup.js"></script>
  <script src="/assets/user-template/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/user-template/js/plugins/select2.min.js"></script>
  <script src="/assets/user-template/js/plugins/isotope.js"></script>
  <script src="/assets/user-template/js/plugins/scrollup.js"></script>
  <script src="/assets/user-template/js/plugins/swiper-bundle.min.js"></script>
  <!-- Template  JS -->
  <script src="/assets/user-template/js/mainc619.js?v=1.0"></script>