<!-- Main Wrapper -->
<main class="main-wrapper">
  <div class="container-fluid">
    <div class="inner-contents">
      <div class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
        <div class="left-part">
          <h2 class="text-dark">Modifier le Budget de Projet</h2>
          <p class="text-gray mb-0">Veuillez mettre à jour les informations ci-dessous pour modifier un budget de projet existant.</p>
        </div>
        <div class="right-part">
          <form class="search-form w-auto">
            <input type="text" name="search" class="bg-white form-control" placeholder="Search">
            <button type="submit" class="btn"><img src="assets/img/svg/search.svg" alt=""></button>
          </form>
        </div>
      </div>

      <!-- Formulaire de modification -->


        <div class="card-body p-0 pt-4">
          <form (ngSubmit)="onSubmit()" [formGroup]="budgetForm">

            <div class="form-group">
              <label class="form-label" for="allocatedFunds">Fonds Alloués</label>
              <input type="number" class="form-control" id="allocatedFunds" formControlName="allocatedFunds" placeholder="Fonds alloués" required />
            </div>

            <div class="form-group">
              <label class="form-label" for="usedFunds">Fonds Utilisés</label>
              <input type="number" class="form-control" id="usedFunds" formControlName="usedFunds" placeholder="Fonds utilisés" required />
            </div>

            <div class="button_group">
              <button type="submit" class="btn btn-primary" [disabled]="budgetForm.invalid">Mettre à jour le Budget du Projet</button>
            </div>
          </form>
        </div>
      </div>

    </div>
 
</main>

