<!doctype html>
<html lang="en">
    <!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/assets/user-template/imgs/theme/favicon.svg" />
<!-- Template CSS -->
<link rel="stylesheet" href="/assets/user-template/css/plugins/animate.min.css" />
<link rel="stylesheet" href="/assets/user-template/css/mainc619.css?v=1.0" />
 <!-- Vendor JS-->
<body>

    <div class="section-box">
        <div class="container">
            <ul class="list-partners">
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay="0s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/samsung.svg" /></figure>
                    </a>
                </li>
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".1s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/google.svg" /></figure>
                    </a>
                </li>
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".2s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/facebook.svg" /></figure>
                    </a>
                </li>
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".3s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/pinterest.svg" /></figure>
                    </a>
                </li>
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".4s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/avaya.svg" /></figure>
                    </a>
                </li>
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".5s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/forbes.svg" /></figure>
                    </a>
                </li>
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".1s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/avis.svg" /></figure>
                    </a>
                </li>
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".2s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/nielsen.svg" /></figure>
                    </a>
                </li>
                <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".3s">
                    <a href="#">
                        <figure><img alt="jobhub" src="assets/user-template/imgs/jobs/logos/doordash.svg" /></figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <section class="section-box mt-50 mb-60">
        <div class="container">
            <div class="box-newsletter">
                <h5 class="text-md-newsletter">Sign up to get</h5>
                <h6 class="text-lg-newsletter">the latest jobs</h6>
                <div class="box-form-newsletter mt-30">
                    <form class="form-newsletter">
                        <input type="text" class="input-newsletter" value="" placeholder="contact.alithemes@gmail.com" />
                        <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="box-newsletter-bottom">
                <div class="newsletter-bottom"></div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer mt-50">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <a href="index.html"><img alt="jobhub" src="assets/user-template/imgs/theme/jobhub-logo.svg" /></a>
                    <div class="mt-20 mb-20">Jobhub is the heart of the design community and the best resource to discover and connect with designers and jobs worldwide.</div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h6>Company</h6>
                    <ul class="menu-footer mt-40">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h6>Product</h6>
                    <ul class="menu-footer mt-40">
                        <li><a href="#">Feature</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Credit</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h6>Download</h6>
                    <ul class="menu-footer mt-40">
                        <li><a href="#">iOS</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">Microsoft</a></li>
                        <li><a href="#">Desktop</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h6>Support</h6>
                    <ul class="menu-footer mt-40">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom mt-50">
                <div class="row">
                    <div class="col-md-6">
                        Copyright ©2021 <a href="#"><strong>Jobhub</strong></a>. All Rights Reserved
                    </div>
                    <div class="col-md-6 text-md-end text-start">
                        <div class="footer-social">
                            <a href="#" class="icon-socials icon-facebook"></a>
                            <a href="#" class="icon-socials icon-twitter"></a>
                            <a href="#" class="icon-socials icon-instagram"></a>
                            <a href="#" class="icon-socials icon-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

 <script src="/assets/user-template/js/vendor/modernizr-3.6.0.min.js"></script>
 <script src="/assets/user-template/js/vendor/jquery-3.6.0.min.js"></script>
 <script src="/assets/user-template/js/vendor/jquery-migrate-3.3.0.min.js"></script>
 <script src="/assets/user-template/js/vendor/bootstrap.bundle.min.js"></script>
 <script src="/assets/user-template/js/plugins/waypoints.js"></script>
 <script src="/assets/user-template/js/plugins/wow.js"></script>
 <script src="/assets/user-template/js/plugins/magnific-popup.js"></script>
 <script src="/assets/user-template/js/plugins/perfect-scrollbar.min.js"></script>
 <script src="/assets/user-template/js/plugins/select2.min.js"></script>
 <script src="/assets/user-template/js/plugins/isotope.js"></script>
 <script src="/assets/user-template/js/plugins/scrollup.js"></script>
 <script src="/assets/user-template/js/plugins/swiper-bundle.min.js"></script>
 <!-- Template  JS -->
 <script src="/assets/user-template/js/mainc619.js?v=1.0"></script>
   
</body>
</html>
