<main class="main-wrapper">


<div class="container-fluid">

  <div class="inner-contents">

    <div class="row">
      <!-- Left Column -->
      <div class="col-xxl-4">

        <div class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
          <div class="left-part">
            <h2 class="text-dark">Calendar</h2>
            <p class="text-gray mb-0">Event's List </p>
          </div>
        </div>

        <div class="row">
          <app-events-list></app-events-list>
          <app-upcoming-events></app-upcoming-events>
        </div>

        <app-event-notification></app-event-notification>

      </div>

      <!-- Right Column - Calendar -->
      <div class="col-xxl-8">
        <div class="card border-0">
          <div class="card-body">
            <app-events-calendar></app-events-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>


